// Bootstrap customization
@import "variables";

$bootstrap-sass-path: '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/';
// Core variables and mixins
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins";

// Reset and dependencies
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/normalize";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/print";
//@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/glyphicons";

// Core CSS
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/scaffolding";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/type";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/code";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/grid";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/tables";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/forms";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/buttons";

// Components
//@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/component-animations";
//@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/dropdowns";
//@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/button-groups";
//@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/input-groups";
//@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/navs";
//@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/navbar";
//@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/breadcrumbs";
//@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/pagination";
//@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/pager";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/labels";
//@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/badges";
//@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/jumbotron";
//@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/thumbnails";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/alerts";
//@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/progress-bars";
//@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/media";
//@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/list-group";
//@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/panels";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/responsive-embed";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/wells";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/close";

// Components w/ JavaScript
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/modals";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/tooltip";
//@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/popovers";
//@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/carousel";

// Utility classes
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/utilities";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/responsive-utilities";

//@import "bootstrap";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/theme";

// Custom components from minimalism theme
@import 'partials/fontZeklerPN';
@import 'partials/fontZeklerDP';
@import 'partials/container';
@import 'partials/content';
@import 'partials/tag';
@import 'partials/social';
@import 'partials/share';
@import 'partials/featured';
@import 'partials/footer';
@import 'partials/search';
@import 'partials/response';
@import 'partials/modal';
@import 'partials/sidebar';
@import 'partials/button';
@import 'partials/icons';
@import 'partials/keyboard';
@import 'partials/table';
@import 'partials/related';
@import 'partials/biography';

a {
  &:hover {
    text-decoration: none;
  }
}

.logo-block {
  padding-top: 15px;
}

@media screen and (max-width: 991px) {
  .logo-block a img {
    margin: 0 auto;
  }
}

.navigation-block {
  margin-bottom: 20px;
}

.meta-block {
  font-family: "ZeklerPN", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 14px;
  &__author-name {
    font-size: 15px;
    line-height: 1;
    color: #000000;
    font-weight: 400;
  }

  .middotDivider::after {
    content: "·";
    margin: 0 3px;
    color: rgba(0, 0, 0, .8);
  }
}

.tags-block {
  a {
    color: rgba(0, 0, 0, .6);
    background: rgba(0, 0, 0, .05);
    font-size: 13px;
    font-weight: 400;
    padding: 5px 10px;
  }

  a:hover {
    background: rgba(0, 0, 0, .1);
    color: rgba(0, 0, 0, .6);
  }
}

div.comments-block {
  margin: 80px 0;
}

div.comments-block > div {
  padding-bottom: 20px;
}

pre {
  border: none;
  border-radius: 0;
  padding: 20px;
  margin: 20px 0;
  font-size: 16px;
}

img.alignright {
  float: right;
  margin: 0 0 1em 1em;
}

img.alignleft {
  float: left;
  margin: 0 1em 1em 0;
}

img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a img.alignright {
  float: right;
  margin: 0 0 1em 1em;
}

a img.alignleft {
  float: left;
  margin: 0 1em 1em 0;
}

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
